
.content-admin .admin-nav{
    width:250px;
    height:100vh;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.content-admin .admin-link{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: left;
    padding:6px;
    color:wheat;
    text-decoration: none;
}
.content-admin .admin-link:hover{
    background-color:lightblue;
    color:black;
}
.content-admin .admin-link .img{
    color:black;
    border:1px solid white;
    background-color: white;
    padding:2px;
    margin:5px;
}
.content-admin .admin-link p{
    padding:5px;
    margin:5px;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width:600px){
    .content-admin {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    .content-admin .admin-nav{
       border: 1px solid blue;
       width: 100%;
       height: 25%;
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-around;
       
    }
    
    .content-admin .admin-link{
        display: flex;
        flex-direction: row;
        width:130px;
        align-items:left;
        justify-content: left;
        padding:1px;
        margin:1px;
        color:wheat;
        text-decoration: none;
    }
   
    .content-admin .admin-link .img{
       display: none;
    }
    .contents .admin-link p{
        padding:2px;
        margin:1px;
        font-size: 14px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
}